@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #060A06;
    --font_nav: #FFFFFF;
    --lets_but: #352DEB;
    --hover-font:#808080;
}

html, body {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: poppins;
    color: var(--font_nav);
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    background-image: url('../image/image3.png');
    background-size: 1300px;
    background-position: center;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.navbar .nav-bar .title3 {
    margin-left: 200px;
    display: flex;
    align-items: center;
    font-size: 60px;
    position: absolute;
}

.navbar .nav-bar .title3 img {
    height: 60px;
    width: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 4.5%;
    background-color: rgba(1, 1, 1, 0.75);
    border-bottom: 1px solid var(--font_nav);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
}


.navbar .navbar-nav .mid a {
    color: var(--font_nav);
    display: inline-block;
    font-size: 13px;
    margin: 0 2rem;
}

.navbar .navbar-nav .mid a:hover {
    color: var(--hover-font);
}

.navbar-nav {
    display: flex;
}

.navbar-nav a {
    text-decoration: none;
}

.navbar .navbar-nav .mid a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--hover-font);
    transform: scaleX(0);
    transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .extra a{
    color: var(--font_nav);
}

.navbar .extra .border {
    border: 1px solid var(--font_nav);
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: 400;
}

.navbar .extra .border:hover {
    background-color: #303030;
}

.extra {
    display: flex;
}

.navbar .navbar-nav .mid .dash {
    font-size: 13px;
    font-weight: 700;
    color: var(--hover-font);
}

/* -------------------------------------- */

.main {
    color: #FFFFFF;
    font-family: poppins;
    font-size: 110px;
    flex-wrap: wrap;
    font-weight: 500;
    margin-right: 820px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.main img {
    margin: 35px 10px 0px;
    width: 100px;
    height: 100px;
}

.Lorem {
    color: #FFFFFF;
    font-family: montserrat;
    font-size: 32px;
    font-weight: 300;
    margin-right: 900px;
    display: flex;
    justify-content: center;
}

/* ------------------------------------- */

.container {
    font-family: poppins;
    display: block;
    margin: auto;
    height: 540px;
    width: 1535px;
    margin-top: 30px;
    border-style: solid;
    padding: 50px 50px;
    font-family: Poppins;
    color: #FFFFFF;
    border-radius: 45px;
    background: linear-gradient(to top, rgba(53, 45, 235, 0.1) 30%, rgba(255, 255, 255, 0.1) 80%);
}

.time {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}

.asset {
    margin: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.garis {
    width: 300px;
    height: 2.5px;
    background-color: #FFFFFF;
}

.lingkaran {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.list1 {
    display: flex;
    list-style: none;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}

.list2 {
    display: flex;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.date {
    padding: 0px 96px;
}

.date1 {
    margin-left: 110px;
}

.date2 {
    padding-right: 60px;
    padding-left: 110px;
}

.date3 {
    padding-left: 53px;
    padding-right: 117px;
}

.date4 {
    margin-right: 115px;
}

.list3 {
    font-size: 24px;
    font-weight: 300;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 555px;
}

.list4 {
    font-size: 24px;
    font-weight: 300;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 568px;
}

.x {
    margin-top: 20px;
    padding-left: 100px;
}

.z {
    margin-top: 50px;
    padding-left: 110px;
}

